<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Register</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<header><div th:replace="user/userNavbar.html"></div></header>
<body>
<h2>Update Details...</h2>
<form class="form-horizontal" th:action="@{/user/add-details/{name}(name=${user.username})}" method="POST" th:object="${user}">
    <div class="panel panel-info">
        <div class="form-group">
            <label class="control-label col-sm-2">ID</label>
            <div class="col-sm-10">
                <input type="text" th:field="*{id}" readonly class="form-control">
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-2">First Name</label>
            <div class="col-sm-10">
                <input type="text" th:field="*{firstName}" readonly class="form-control">
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-2">Last Name</label>
            <div class="col-sm-10">
                <input type="text" th:field="*{lastName}" readonly class="form-control">
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-2">Email</label>
            <div class="col-sm-10">
                <input type="email" th:field="*{username}" readonly class="form-control">
            </div>
        </div>
    </div>
    <div class="panel panel-info">
        <div class="panel-heading">Acvievements</div>
        <div class="panel-body">
            <table class="table">
                <thead>
                <tr>
                    <th scope="col"></th>
                    <th scope="col">Achievements</th>
                    <th scope="col">Description</th>
                    <th scope="col"><button type="submit" name="addAchievement" value="Add More." class="btn btn-primary">Add More.</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="ach,ind : ${user.achievements}">
                    <td><input type="hidden" th:field="*{achievements[__${ind.index}__].id}"  readonly class="form-control"></td>
                    <td><input type="text" th:field="*{achievements[__${ind.index}__].achievement}" class="form-control" required></td>
                    <td><input type="text" th:field="*{achievements[__${ind.index}__].description}" class="form-control" required></td>
                    <td><button type="submit" name="removeAchievement" th:value="${ind.index}" class="btn btn-danger">Remove</button></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="panel panel-info">
        <div class="panel-heading">Education</div>
        <div class="panel-body">
            <table class="table">
                <thead>
                <tr>
                    <th scope="col"></th>
                    <th scope="col">Qualificaton</th>
                    <th scope="col">Year</th>
                    <th scope="col">Institution</th>
                    <th scope="col">Percantage</th>
                    <th scope="col"><button type="submit" name="addEducation" class="btn btn-primary">Add More.</button></th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="edu,ind : ${user.educations}">
                    <td><input type="hidden" th:field="*{educations[__${ind.index}__].id}" class="form-control"  readonly></td>
                    <td><input type="text" th:field="*{educations[__${ind.index}__].qualification}" class="form-control" required></td>
                    <td><input type="text" th:field="*{educations[__${ind.index}__].year}" class="form-control" required></td>
                    <td><input type="text" th:field="*{educations[__${ind.index}__].institute}" class="form-control" required></td>
                    <td><input type="number" th:field="*{educations[__${ind.index}__].percentage}" class="form-control" required></td>
                    <td><button type="submit" name="removeEducation" th:value="${ind.index}" class="btn btn-danger">Remove</button></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="panel panel-info">
        <div class="panel-heading">Experiences</div>
        <div class="panel-body">
            <table class="table">
                <thead>
                <tr>
                    <th scope="col"></th>
                    <th scope="col">Companny</th>
                    <th scope="col">Designation</th>
                    <th scope="col">Duration</th>
                    <th scope="col">Description</th>
                    <th scope="col"><button type="submit" name="addExperience" class="btn btn-primary">Add More.</button></th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="exp,ind : ${user.experiences}">
                    <td><input type="hidden" th:field="*{experiences[__${ind.index}__].id}" class="form-control" readonly></td>
                    <td><input type="text" th:field="*{experiences[__${ind.index}__].company}" class="form-control" required></td>
                    <td><input type="text" th:field="*{experiences[__${ind.index}__].designation}" class="form-control" required></td>
                    <td><input type="text" th:field="*{experiences[__${ind.index}__].duration}" class="form-control" required></td>
                    <td><input type="text" th:field="*{experiences[__${ind.index}__].description}" class="form-control" required></td>
                    <td><button type="submit" name="removeExperience" th:value="${ind.index}" class="btn btn-danger">Remove</button></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="panel panel-info">
        <div class="panel-heading">Projects</div>
        <div class="panel-body">
            <table class="table">
                <thead>
                <tr>
                    <th scope="col"></th>
                    <th scope="col">Name</th>
                    <th scope="col">Technology Used</th>
                    <th scope="col">Year</th>
                    <th scope="col">Description</th>
                    <th scope="col"><button type="submit" name="addProject" value="Add More." class="btn btn-primary">Add More.</button></th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="pro,ind : ${user.projects}">
                    <td><input type="hidden" th:field="*{projects[__${ind.index}__].id}" class="form-control"  readonly></td>
                    <td><input type="text" th:field="*{projects[__${ind.index}__].name}" class="form-control" required></td>
                    <td><input type="text" th:field="*{projects[__${ind.index}__].technologyUsed}" class="form-control" required></td>
                    <td><input type="text" th:field="*{projects[__${ind.index}__].year}" class="form-control" required></td>
                    <td><input type="text" th:field="*{projects[__${ind.index}__].description}" class="form-control" required></td>
                    <td><button type="submit" name="removeProject" th:value="${ind.index}" class="btn btn-danger">Remove</button></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div style="text-align:center">
        <button type="submit" class="btn btn-default">Submit</button>
    </div>
</form>

</body>
</html>