<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Add Admin</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
        <script>
        function updateUsername(){
                var email=document.getElementById("email").value;
                 var username=document.getElementById("username");
                 var us=email.split("@");
                 username.value=us[0];
        }
        </script>
    </head>
    <header><div th:replace="adm/adminNavbar.html"></div></header>
    <body>
        <h1>Add Admin....</h1>
        <form th:action="@{/admin/add-admin}" th:object="${userlogin}" method="POST" class="form-horizontal">
            <div th:if="${success==true}">
                <h3 style="text-align:center" class="text-success">User Added</h3>
            </div>
            <div th:if="${error==true}">
                <h3 class="text-danger" style="text-align:center">E-mail already exists try with a different email</h3>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-2">First Name</label>
                <div class="col-sm-10">
                <input type="text" th:field="*{firstName}" class="form-control" required>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-2">Last Name</label>
                <div class="col-sm-10">
                <input type="text" th:field="*{lastName}" class="form-control" required>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-2">Email</label>
                <div class="col-sm-10">
                    <input type="email" name="email" th:field="*{email}" id="email" class="form-control" required autofocus th:oninput="updateUsername()">
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-2">Username</label>
                <div class="col-sm-10">
                    <input type="text" name="username" th:field="*{username}" class="form-control" id="username" readonly autofocus >
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-2">Password</label>
                <div class="col-sm-10">
                <input type="password" th:field="*{password}" class="form-control" required minlength="8">
                </div>
            </div>
            <div class="form-group" >
                <label class="control-label col-sm-2">Select Role:</label>
                <select th:field="*{roles}" class="form-control" >
                    <option th:value="'ROLE_ADMIN'" th:text="'Admin'">Admin</option>
                    <option th:value="'ROLE_USER'" th:text="'User'">User</option>
                </select>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <button type="submit" class="btn btn-default">Submit</button>
                </div>
            </div>
        </form>
    </body>
</html>