<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>[[${user.firstName}]] [[${user.lastName}]] Resume</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body class="container">
<div>
    <label class="control-label col-sm-2">Choose Template</label>
    <select onchange="location = this.value;">
        <option>Select Template</option>
        <option th:each="template:${templates}" th:value="'/app/view/'+${user.username}+'/'+${template}" th:text="${template}">
    </select>
</div>
    <div  th:if="${unf==true}">
        <h3 style="text-align:center" class="text-danger">User does not exist</h3>
    </div>
    <div  th:if="${dnp==true}">
        <h3 style="text-align:center" class="text-warning">Details are not updated by user.</h3>
    </div>
     <h2 style="text-align: center;">Curriculum Vitae</h2>
    <p>
        <h3 th:text="${user.firstName}+' '+${user.lastName}"></h3>
        <span>Quick Learner ||</span><span>Competitve Programmer</span><br>
        <span th:if="${user.address!=null}">
        <span th:text="${user.address.addressLine1}+','+${user.address.addressLine2}">Address</span><br>
        <span th:text="${user.address.city}+','+${user.address.pin}">City</span><br>
        <span th:text="${user.address.state}+','+${user.address.country}">State</span>
        </span>
    </p>
    <hr width="100%" size="2px">
    <p>
        <b>Education</b>
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Qualificaton</th>
                    <th scope="col">Institution</th>
                    <th scope="col">Year</th>
                    <th scope="col">Percentage</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="edu : ${user.educations}">
                     <td th:text="${edu.qualification}"> None</td> 
                     <td th:text="${edu.institute}"> ABC University</td>
                     <td th:text="${edu.year}"> 0000</td>
                    <td th:text="${edu.percentage}"> 0.0</td>  
                </tr>
            </tbody>
        </table>
    </p>
    <hr width="100%" size="2px">
    <p>
        <b>Experiences</b>
        <ul th:each=" exp: ${user.experiences}">
             <li>
                 <b th:text="${exp.company}+','">Company</b>
                 <i th:text="${exp.designation}+','">Designation</i>
                 <i th:text="${exp.duration}">Durtion</i>
                 <p th:text="${exp.description}">Description</p>

             </li>
        </ul>
    </p>
    <hr width="100%" size="2px">
    <p>
        <b>Achievements</b>
        <ul th:each=" ach: ${user.achievements}">
             <li>
                 <b th:text="${ach.achievement}+','">Achievement</b>
                 <i th:text="${ach.description}">Description</i>
             </li>
        </ul>
    </p>
    <hr width="100%" size="2px">
    <p>
        <b>Projects</b>
        <ul th:each=" pro: ${user.projects}">
             <li>
                 <b th:text="${pro.name}+','">Name</b>
                 <i th:text="${pro.technologyUsed}+','">TechnologyUsed</i>
                 <i th:text="${pro.year}">Year</i>
                 <p th:text="${pro.description}">Description</p>

             </li>
        </ul>
    </p>
    <hr width="100%" size="2px">
    <p>
        <b>Links</b>
    <ul th:each=" link: ${user.links}">
        <li>
            <b th:text="${link.linkName}+':-'">Name</b>
            <a th:href="@{${link.href}}" th:text="${link.href}" target="_blank">Link</a>
        </li>
    </ul>
    </p>
        <div th:if="${#request.remoteUser!=null}">
        <a th:href="@{/user/add-details/{username}(username=${user.username})}"><button type="submit">Edit</button></a>
        </div>
</body>
</html>